@import url(https://cdn.xeiaso.net/static/css/iosevka/family.css);
@import "./ctp-mocha.css";
@import "./ctp-latte.css";

.CodeMirror {
  height: 100%;
  font-size: 16px;
  padding: 15px 5px;
  font-family: "Iosevka Aile Iaso", sans-serif;
}

.CodeMirror-linenumber {
  padding-right: 5px;
}