@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://cdn.xeiaso.net/static/css/iosevka/family.css);
@import "~prismjs/themes/prism-tomorrow.css";

#editor {
    background-color: #24292E;

    &[data-readonly="true"] .monaco-editor {
        .view-overlays .current-line {
            background-color: transparent !important;
        }

        .cursors-layer .cursor {
            display: none !important;
        }
    }
}
